/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html, body{
    height:100%;
}
body {
	line-height: 1;
    background: url(../images/bg.jpg) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    overflow-x: hidden;
    font-family: Open Sans;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Header Style*/
header{
    display: inline-block;
    width: 100%;
    height: 60px;
    background-color: #00002c99;
    animation-delay: 1s;
}
.container{
    width: 80%;
    margin: 0 auto;
}
header ul{
    line-height: 60px;
    display: flex;
}

header ul li{
    flex: 1;
    text-align: center;
}
header ul li a{
    color: #8e8e8e;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}
header ul li a.current{
    color: #fff;
}
/*Heading Style*/
.intro-heading{
    text-align: center;
    margin-top: 32%;
}
.intro-heading h4{
    font-size: 50px;
    font-family: Orator Std; 
    text-transform: uppercase;
    color: #fff;
    animation-delay: 3s;
}
.intro-heading h1{
    font-size: 110px;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    animation-delay: 2s;
}

/*About page Style*/
.about{
    width: 45%;
    margin-top:13%;
    word-wrap: break-word;
}
.about h3{
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    padding-bottom: 8px;
    margin-bottom: 12px;
    animation-delay: 1s;
}
.about p{
    color: #fff;
    line-height: 30px;
    font-size: 18px;
    animation-delay: 1s;
}

/*portfolio page style*/
.portfolio{
    width: 100%;
    margin-top: 13%;
}
.figure{
    display: inline-block;
    width: 29%;
    float: center;
    text-align: center;
    position: relative;
    margin-bottom: 55px;
    overflow:hidden;
}
.figure img{
    width: 100%;
}
.figure: nth-child(3n+2){
    margin: 0 6%;
}
.figure h3{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: rgba(255,255,255,0.8);
    color: #000;
    padding: 0 10px;
    font-weight: 600;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/*Contact Page Style*/
.contact{
    width: 40%;
    margin: 0 auto;
    margin-top: 13%;
}
.contact h2{
    font-size: 24px;
    font-weight: 900;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 15px;
    letter-spacing: 2px;
    text-align: center;
}
input, textarea{
    font-family: open sans;
    box-sizing: border-box;
}

.textField, .messageField{
    width: 100%;
    height 45px;
    border: 1px solid #ffffff30;
    background-color: transparent;
    color: #ffffff;
    padding: 0 10px;
    font-size: 16px;
    margin-bottom: 15px;
}
.messageField{
    max-width: 100%;
    min-height: 130px;
    padding: 10px;
}
.textField: focus, .messageField: focus{
    border-color: #ffffff;
}
.submitButton{
    width: 100%;
    height: 45px;
    background-color: #ffffff;
    color: #000000;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
    border: 1px solid #ffffff;
}

.toggleBtn{
    background-color: #fff;
    font-size: 18px;
    font-weight: 700;
    padding: 5px 10px;
    border: none;
    outline:none;
    display: none;
}

/*Small Device*/
@media(max-width: 576px){
    body{
        background-size: cover;
        background-position: center;
    }
    .toggleBtn{
        display: block;
        margin: 0 auto;
    }
    header{
        height:auto;
        display: block;
    }
    header ul, header ul li, header ul li a{
        display: inline-block;
        width: 100%;
    }
    header ul li a:hover{
        color: #fff;
    }
    header ul li{
        flex:none;
    }
    .intro-heading{
        margin-top:100%;
    }
    .intro-heading h4{
        font-size: 15px;
    }
    .intro-heading h1{
        font-size: 55px;
    }
    
    /*About Page Responsive Style*/
    .about{
        width: 100%;
    }
    
    /*Portfolio Page Responsive Style*/
    .portfolio .figure{
        width: 100%;
        margin-bottom: 20px;
    }
    .portfolio .figure:nth-child(3n+2){
        margin: 0 0 20px;
    }
    
    /*Contact Page Responsive Style*/
    .contact{
        width: 100%;
    }
}